/* =========================================
   ESTILOS DE LA PÁGINA NOSOTROS
========================================= */

.titulo-nosotros {
    text-align: center;
    color: #000333; /* Color rojo */
    font-style: italic;
    font-size: 32px;
    margin-top: 40px;
    font-weight: 800;
}

.contenedor-nosotros {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px 80px 20px;
    gap: 50px; /* Separación entre imágenes y texto */
    align-items: center;
}

/* --- Galería Collage (Columna Izquierda) --- */
.galeria-nosotros {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
}

.galeria-nosotros img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Acomodamos las 3 imágenes en la grilla */
.img-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


/* --- Texto (Columna Derecha) --- */
.texto-nosotros {
    flex: 1;
}

.texto-nosotros h2 {
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
    line-height: 1.2;
}

.texto-nosotros p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

/* Diseño Responsive: Si se ve en celular, las imágenes van arriba y el texto abajo */
@media (max-width: 850px) {
    .contenedor-nosotros {
        flex-direction: column;
    }
}