/* =========================================
   ESTILOS DE LA PÁGINA NOSOTROS / RUTAS
========================================= */

.titulo-servicio {
    text-align: center;
    color: #000333;
    font-style: italic;
    font-size: 32px;
    margin-top: 40px;
    font-weight: 800;
}

.contenido-servicio {
    display: flex;
    max-width: 1000px; 
    margin: 40px auto; 
    padding: 40px; 
    gap: 50px; 
    align-items: center;
    
    /* Efecto de Caja (Card) */
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); 
}

.servicio-img {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr; /* Simplificado a 1 columna ya que solo usas 1 imagen */
    gap: 10px;
}

.servicio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Bordes suaves para la imagen también */
}

.texto-servicio {
    flex: 2;
}

.texto-servicio h2 {
    font-size: 32px;
    color: #000333;
    margin-bottom: 20px;
}

.texto-servicio p {
    font-size: 16px;
    line-height: 1.6;
    color: #000333;
    text-align: justify;
}

/* Adaptación para celulares y tablets */
@media(max-width: 850px){
    .contenido-servicio {
        flex-direction: column;
        padding: 30px 20px; 
        margin: 20px; /* Evita que la caja choque con los bordes de la pantalla en móviles */
    }
}